<!DOCTYPE html>
<!--
======================================================
______    _ _           ______    _     _             
|  ___|  | | |          |  ___|  (_)   | |            
| |_ __ _| | |_ ___ _ __| |_ _ __ _  __| | __ _ _   _ 
|  _/ _` | | __/ _ \ '__|  _| '__| |/ _` |/ _` | | | |
| || (_| | | ||  __/ |  | | | |  | | (_| | (_| | |_| |
\_| \__,_|_|\__\___|_|  \_| |_|  |_|\__,_|\__,_|\__, |
                                                 __/ |
                                                |___/ 
======================================================
Owner Name: Patrick A. Todd
Profile: https://www.github.com/falterfriday
Blog: https://falterfriday.wordpress.com/
Version: 0.2
Description: Never Stop Learning
======================================================
-->
<head>
  <title>Dojo Survey Index</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
  <body>
    <div id="wrapper">
      <h1>Index Page</h1>
        <form action='/result' method='post'>
          Your Name: <input type='text' name='name'><br>
          Dojo Location: 
            <select name="location">
              <option value="">Locations:</option>
              <option value="washington dc">Washington DC</option>
              <option value="seattle">Seattle</option>
              <option value="silicon valley">Silicon Valley</option>
              <option value="dallas">Dallas</option>
            </select><br>
          Favorite Language: 
            <select name="language">
              <option value="">Languages:</option>
              <option value="html">HTML</option>
              <option value="css">CSS</option>
              <option value="javascript">JavaScript</option>
              <option value="jquery">jQuery</option>
              <option value="python">Python</option>
            </select><br>
          Comments: (optional)<input type='text' action='/result' name='comment'><br>
          <input type='submit' value='Submit'>
        </form>
    </div>
  </body>
</html>